.nav-link i {
    font-size: 30px;
    padding-left: 15px;
}

.sidebar-heading {
    font-size: 12px;
}

.sidebar {
    background-color: #126E82;
}

.sidebar span {
    font-size: 30px;
    color: white;
    font-style: bold;
}


